USE [master]
GO
/****** Object:  Database [Remembering]    Script Date: 9/8/2017 1:16:32 PM ******/
CREATE DATABASE [Remembering]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Remembering', FILENAME = N'C:\Users\Competitor\Desktop\Remembering\Database\Remembering.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Remembering_log', FILENAME = N'C:\Users\Competitor\Desktop\Remembering\Database\Remembering_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Remembering].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Remembering]
GO
USE [Remembering]
GO
/****** Object:  Table [dbo].[People]    Script Date: 9/8/2017 1:16:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Image] [varbinary](max) NULL,
	[Description] [nvarchar](max) NULL,
	[ContentType] [varchar](50) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
USE [master]
GO
